DB_HOST=db
DB_PORT=5432
DB_NAME=identity_service
DB_USER=identity_service_user
DB_PASSWORD=identity_service_password

LOG_LEVEL=info
DEBUG=true

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

SENTRY_DSN=

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
SMTP_FROM_EMAIL=no-reply@identity-service.local
